@media print {
  @page {
    size: A4;
    margin: 15mm;
  }

  body {
    direction: rtl;
    font-family: Vazirmatn;
  }

  .print-container {
    width: 100%;
  }

  .print-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .print-table {
    width: 100%;
    border-collapse: collapse;
  }

  .print-table th,
  .print-table td {
    border: 1px solid #000;
    padding: 6px;
    text-align: center;
  }

  .print-footer {
    margin-top: 20px;
    text-align: left;
  }
}